#grad{
    background: linear-gradient(#686A70, #484242);
    background-attachment: fixed;
}
.parag{
    text-align: center;
    color:blue;
    background-color:black;
    text-shadow: tomato;
}
.dinheiro{
    color: aqua;
    font-family: "Keania One", sans-serif;
    font-weight: 400;
    font-style: normal;  
}
#choro{
    text-align: center;
    color: rgb(32, 30, 30);
}